#calendar_container {
    /* background-color: rgba(250, 192, 0, 0.48); */
    display: flex;
    justify-content: center;
}

#event_box {
    width: 20%;
    height: 200px;
    display: none;
    flex-direction: column;
    background-color: rgb(84, 84, 84);
    box-shadow: 2px 2px 5px #ffffff;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    /* top: 200px;
    left: 100px; */
    justify-content: space-evenly;
    padding-left: 1%;
    padding-right: 1%;
}

#butt-container {
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
}

#date-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4px;
    z-index: 1;
    /* background-color: burlywood; */
}

.butt {
    width: 45%;
    height: 30px;
    background-color: #556cff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ffffff;
}

#st {
    background-color: white;
    color: black;
    padding: 3px;
    border: 3px black solid;
    border-radius: 10px;
}

#ed {
    background-color: white;
    color: black;
    padding: 3px;
    border: 3px black solid;
    border-radius: 10px;
}

#input-container {
    /* background-color: rgb(52, 103, 103); */
    z-index: 1;
}

#ckbox {
    width: 30%;
    background-color: rgb(255, 255, 255);
    z-index: 1;

}

#txinp {
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding-left: 5%;
    border: 2px black solid;
    color: black;
    border-radius: 10px;
}

#ckbox-container {
    display: flex;
    margin-bottom: 3%;
}

#date-end {
    display: none;
}

@media only screen and (max-width:600px) {

    #event_box {
        z-index: 1;
        width: 90%;
        top: auto;
        left: auto;
    }
}