#calendar_container {
    /* background-color: rgba(250, 192, 0, 0.48); */
}

#add-event-box {
    width: 15%;
    height: 100px;
    position: absolute;
    z-index: 1;
    background-color: rgb(84, 84, 84);
    border-radius: 10px;
    box-shadow: 1px 1px 4px #556cff;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;

}

#cancel-but {
    width: 40%;
    height: 30px;
    border-radius: 20px;
    z-index: 1;
    background-color: rgb(255, 0, 0);
}

#add-but {
    width: 40%;
    height: 30px;
    border-radius: 20px;
    z-index: 1;
    background-color: rgb(9, 255, 0);
}

#inp {
    z-index: 1;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    color: black;
    border-radius: 5px;
}